@using Lab3_CSharp.Models
@model Lab3_CSharp.PhilosopherController.CreatePhilosopherModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "О философских трудах";
    Layout = "../_BaseLayout.cshtml";
}

@if (ViewBag.philosopherList.Count == 0)
{
<div>Данных о философах нет</div>
}
else
{
<ol>
    @foreach (Philosopher phil in ViewBag.philosopherList)
    {
    <li>
        <a asp-action="GetPhilosopherAbout" asp-route-philosopherId="@phil.Id">@($"{phil.Surname} {phil.Name}")</a>
        <form style="display: inline-block" method="post" asp-action="Delete" asp-route-philosopherId="@phil.Id">
            <button type="submit">Удалить</button>
        </form>
    </li>
    }
</ol>
}
<br>
<h2>Добавить философа</h2>
<form method="post" asp-action="Create">
    <label>
        Фамилия философа:
        <input type="text" placeholder="Фамилия философа" asp-for="Surname"/>
        Не может состоять из пробелов и символов перевода строки
    </label><br/>
    <label>
        Имя философа:
        <input type="text" placeholder="Имя философа" asp-for="Name"/>
        Не может состоять из пробелов и символов перевода строки
    </label><br/>
    <label>
        Дата рождения:
        <input type="date" asp-for="Birth_date"/>
        Не может быть позже текущей даты
    </label><br/>
    <label>
        Дата смерти:
        <input type="date" value=@("@(DateTime.Now.Year) - @(DateTime.Now.Month) - @(DateTime.Now.Day)") 
               asp-for="Die_date"/>
        Если философ умер, то не может быть раньше даты рождения
    </label><br/>
    <label>
        Философ умер
        <input type="checkbox" asp-for="IsDie"/>
    </label><br/>
    <label>
        Выберите страну проживания философа:
        <select asp-for="CountryLivingId">
            <option value="-1" disabled selected="selected">Выберите</option>
            @if (@ViewBag.countryList != null)
            {
                @foreach (Country country in @ViewBag.countryList)
                {
                    <option value="@country.Id">@country.CountryName</option>
                }
            }
        </select>
    </label><br/>
    <button type="submit">Создать</button>
</form><br/>
@if (ViewBag.errors != null)
{
<ul>
    @foreach (string errorMessage in ViewBag.errors)
    {
    <li style="color: crimson">
        @errorMessage
    </li>
    }
</ul>
}
